# ==========================
# Maven
# ==========================
target/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# NetBeans
# ==========================
nbproject/private/
nbbuild/
dist/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary files
# ==========================
*.tmp
*.swp